/* 
---------------------- Couleurs -------------------------

PRIMARY
Base: #d77a61 (Coral)
Tint: FBF2EF (Light Coral)
Shade: #c26e57 (Dark Coral)

SECONDARY
Base: #2F4F4F (Dark Slate Gray)
Tint: #AFB7A9 (Sage Green)
Shade: #213737 (Charcoal)

TERTIARY
Base: #D7B661 (Sand)
Tint: #E7D3A0 (Light Sand)
Shade: #C2A457 (Dark Sand)

GREY
Base: #495057 (State)
Tint: #C8C8C8 (Light Grey)
Shade: #212529 (Graphite)
White: #ffffff (White)
Black:#000000 (Black)

------------------- Typographie ------------------
FONT SIZES
12px / 20px / 24px / 32px / 40px / 48px / 62px

FONT WEIGHT
400 /700

LINE HEIGHT
1.2 / 1.5 

LETTER SPACING
0 / -2PX

FONT FAMILY
Poppins


























*/

:root {
    /* couleurs */
    --primary-base: #d77a61;
    --primary-tint: #FBF2EF;
    --primary-shade: #c26e57;
    --secondary-base: #2F4F4F;
    --secondary-tint: #AFB7A9; 
    --secondary-shade: #213737;
    --tertiary-base: #D7B661;
    --tertiary-tint: #E7D3A0;           
    --tertiary-shade: #C2A457;
    --grey-base: #333;
    --grey-tint: #f5f5f5;
    --grey-shade: #212529;      
    --white: #ffffff;
    --black: #000000;

    /* FONT SIZE */
    --text-small: 1.2rem;
    --text-base: 1.6rem;
    --text-paragraph: 2rem;
    --text-h5: 2.4rem;
    --text-h4: 3.2rem;
    --text-h3: 4rem;
    --text-h2: 4.8rem;
    --text-h1: 6.2rem;


    /* FONT FAMILY */
    --font-family: "Montserrat", sans-serif;

    /* FONT WEIGHT */
    --font-weight-normal: 400;
    --font-weight-light: 200;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
    --font-weight-bolder: 900;

    /* LINE HEIGHT */
    --line-height-tight : 1.2;
    --line-height-normal: 1.5;

    /* LETTER SPACING */
    --letter-spacing-title: -2px;

    

}


/* ------------------------- Styles globaux ------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; /* 10px/16px = 62.5%*/ 
}

body {
    font-family: var(--font-family);
    font-weight: var(--font-weight-normal);
    line-height: var(--line-height-normal);
    color: var(--grey-base);

}
/* .container {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
 } */

h1 {
    font-size: var(--text-h1);
}

h2 {
    font-size: var(--text-h2);
}

h3 {
    font-size: var(--text-h3);
}

h4 {
    font-size: var(--text-h4);
}

h5 {
    font-size: var(--text-h5);
}

p {
    font-size: var(--text-base);
}

a {
    font-size: var(--text-base);
    text-decoration: none;
    display: inline-block;
    /* font-family: var(--font-family); */
}

a:link, a:visited, a:hover, a:active {
    color: var(--grey-base);
}

ul {
    list-style: none;
}


/* ------------------------- Composant ------------------------- */





/* ------------------------- Header ------------------------- */

/* LOGO */
#logo {
    width: 6rem;
    height: auto;
    cursor: pointer;
}

.header {
    background: var(--grey-tint);
    overflow: visible;
}

.navbar-modern {
    display: flex;
    align-items: center;
    gap: 6rem;
    padding: 1.5rem 3rem;
    background: var(--white);
    backdrop-filter: blur(120px);
    overflow: visible;
    position: relative;
    z-index: 1000;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.nav-links a {
    font-size: 1.4rem;
    color: var(--grey-base);
    font-weight: var(--font-weight-medium);
    transition: .3s;
}

.nav-links a:hover {
    color: var(--primary-base);
}

.nav-right {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.search-box-modern {
    flex: 1;
    display: flex;
    align-items: center;
    background: var(--grey-tint);
    padding: .8rem 1.5rem;
    border-radius: 30px;
    gap: .8rem;
    padding: 1.4rem;
}

.search-box-modern i {
    color: var(--grey-base);
    font-size: 1.8rem;
}

.search-box-modern input {
    border: none;
    outline: none;
    background: transparent;
}

.btn-login {
    padding: .7rem 1.5rem;
    border-radius: 20px;
    border: none;
    background: linear-gradient(var(--primary-base),var(--primary-shade));
    color: var(--white);
    cursor: pointer;
}

.nav-icon {
    font-size: 1.8rem;
    cursor: pointer;
    color: var(--secondary-base);
    transition: .3s;
}

.nav-icon:hover {
    color: var(--primary-base);
    transform: scale(1.03);
}
.nav-icon.cart {
    position: relative;
}

.nav-icon.cart .cart-count {
    position: absolute;
    top: -1.5rem;
    right: -.4rem;
    font-size: var(--text-small);
    background-color: var(--primary-base);
    color: var(--white);
    border-radius: 50%;
    padding: .1rem .5rem;
    transition: .3s;
}

.nav-icon:hover .cart-count {
    background-color: var(--secondary-base);
}

.nav-icon.user-menu {
    position: relative;
    z-index: 9999;
    display: flex;
    align-items: center;
}

/* DROPDOWN */
.dropdown {
    position: absolute;
    top: calc(100% + 1.2rem);
    right: -5px;
    width: 22rem;
    background: var(--white);
    border-radius: 14px;
    padding: .8rem;
    display: flex;
    flex-direction: column;
    gap: .3rem;
    box-shadow: 0 15px 40px rgba(0,0,0,0.12);
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: all .25s ease;
    z-index: 99999;
}

/* ETAT OUVERT */
.dropdown.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

/* LIENS */
.dropdown a {
    padding: 1rem 1.2rem;
    border-radius: 10px;
    transition: .25s;
}

.dropdown a:hover {
    background: var(--primary-tint);
}

.logout {
    color: var(--primary-base) !important;
}


.nav-icon.user-menu .dropdown .logout {
    color: var(--primary-base);
}

.nav-icon.user-menu .dropdown .logout:hover {
    color: var(--primary-shade);
    transform: scale(1.02);
    background-color: transparent;
}


.nav-links .active {
    background: linear-gradient(var(--secondary-base),var(--secondary-shade));
    color: var(--white);
    padding: .6rem 1.4rem;
    border-radius: 30px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.08);
    transition: .3s;
}

.nav-links .active:hover {
    transform: translateY(-1.5px);
    font-weight: var(--font-weight-bold);
    color: var(--white);
}


.nav-links .promo {
    position: relative;
    padding: .6rem 1.6rem;
    border-radius: 10px;
    font-weight: 600;
    box-shadow: 0 8px 25px rgba(255,75,43,0.3);
    transition: .3s;
}

.nav-links .promo:hover {
    transform: translateY(-2px) scale(1.05);
    box-shadow: 0 12px 30px rgba(255,75,43,0.5);
}


/* DROPDOWN NAVBAR */

.nav-item-dropdown {
    position: relative;
}

.mega-menu {
    position: absolute;
    top: calc(100% + 2rem);
    left: 0;
    background: var(--white);
    border-radius: 20px;
    padding: 2rem;
    display: flex;
    gap: 1rem;
    box-shadow: 0 20px 40px rgba(0,0,0,0.08);
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: .3s;
    z-index: 5000;
}

.nav-item-dropdown:hover .mega-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.mega-column {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    min-width: 160px;
}

.mega-column h4 {
    font-size: 1.8rem;
    color: var(--secondary-shade);
    margin-bottom: 1rem;
}

.mega-column a {
    font-size: 1.4rem;
    color: var(--grey-base);
    transition: .2s;
}

.mega-column a:hover {
    color: var(--primary-base);
    transform: translateX(3px);
}

.hero-modern {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5rem 3rem;
}

.hero-left {
    max-width: 50%;
}

.hero-left h1 {
    font-size: var(--text-h1);
    font-weight: 900;
    letter-spacing: -3px;
    color: var(--secondary-shade);
}

.hero-left .hero-left-title-2 {
    font-size: var(--text-h3);
    font-weight: var(--font-weight-bold);
    letter-spacing: -3px;
    color: var(--primary-base);
    font-style: italic;
}

.hero-left p {
    margin: 2rem 0;
    color: var(--grey-base);
    font-style: var(--font-family);
}

.hero-modern .btn-hero {
    background: linear-gradient(var(--primary-base),var(--primary-shade));
    color: var(--white);
    padding: 1rem 2.5rem;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    transition: .5s;
}

 .hero-modern .btn-hero:hover {
    transform: translateY(-2px);
}

.stats {
    display: flex;
    gap: 3rem;
    margin-top: 3rem;
}

.stats .stat {
    display: flex;
    align-items: center;
    gap: .5rem;
    transition: .1s;
    cursor:context-menu;
}

.stats .stat:hover {
    transform: scale(1.03);
}

.stats strong {
    font-size: var(--text-h5);
    color: var(--secondary-base);
}

.stats span {
    font-size: var(--text-base);
    color: var(--grey-base);
}

.slider {
    position: relative;
    width: 700px;
    height: 500px;
    overflow: hidden;
    border-radius: 20px;
    z-index: 0;
}

.slides {
    width: 100%;
    height: 100%;
    position: relative;
}

.slide {
    position: absolute;
    width: 700px;
    object-fit: cover;
    opacity: 0;
    transition: opacity .6s ease;
}

.slide.active {
    opacity: 1;
}

.slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255,255,255,0.7);
    border: none;
    padding: .8rem 1.2rem;
    border-radius: 50%;
    cursor: pointer;
    backdrop-filter: blur(10px);
    transition: .3s;
}

.slider-btn:hover {
    background: white;
    transform: translateY(-50%) scale(1.1);
}

.slider-btn.prev {
    left: 10px;
}

.slider-btn.next {
    right: 10px;
}

/* HIDDEN */
.hidden {
    display: none !important;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    /* .search-box {
    display: none;
    } */
}